/* Layout */

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

canvas {
    position: absolute;
    padding: 0pt;
    margin: 0pt;
    min-height: 100px;
    min-width: 100px;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#buttons div {
    display: flex;
    position: absolute;
    pointer-events: none;
}

#menu-buttons {
    flex-direction: column;
    flex-wrap: wrap;
    bottom: 250px;
    top: 20px;
    left: 10px;
}

#terrain-buttons {
    bottom: 10px;
    flex-wrap: wrap-reverse;
    left: 130px;
    right: 10px;
    flex-direction: row;
    justify-content: center;
}

#important-buttons {
    flex-direction: column;
    bottom: 10px;
    left: 10px;
}


/* author and title in top right */

#title-author {
    /* two shadows → brighter */
    text-shadow: 0px 0px 13px #FFFFFF, 0px 0px 13px #FFFFFF;
    font-variant: small-caps;
    width: 100%;
    pointer-events: none;
    text-align: right;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#author {
    font-size: 70%;
}


/* Buttons */

#buttons input {
    border-radius: 15px;
    /*border: 5px solid #888888;*/
    background-color: #cccccc;
    background-size: contain;
    cursor: pointer;
    margin: 2pt;
    width: clamp(50pt, 6vw, 90pt);
    height: clamp(50pt, 6vw, 90pt);
    pointer-events: all;
    box-shadow: 2px 2px 6px 3px #333333;
}

#buttons input.selected {
    box-sizing: border-box;
    background-color: #ffbbbb;
    border: 5px solid #ff0000;
    border-radius: 3mm;
}

.hidden {
    display: none !important;
}


/**************************
    *  Dialogs and About Page
    *************************/


/* Dialogs in general */

#overlay-container {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

#overlay-container>div {
    position: relative;
    background-color: #cccccc;
    /*border: 5px solid #333333;*/
    box-shadow: 4px 4px 6px 3px #333333;
    border-radius: 20px;
    padding: 30px;
    max-width: 35em;
    max-height: calc(100% - 250px);
    overflow: auto;
    margin-bottom: 130px;
    margin-left: 130px;
}

h3 {
    text-align: center;
    font-size: 50px;
    font-variant: small-caps;
    margin: 15px;
}

h2 {
    font-size: 150%;
    margin: 10px;
}


/* explanation for editor icons */

td>img {
    width: 2.5em;
    margin-right: 0.5em;
}

#about {
    text-align: left;
}

#about>h2 {
    margin-top: 30px;
    font-variant: small-caps;
}

span.keystroke {
    font-weight: bold;
}

#overlay-container p {
    margin: 10px;
}


/* form elements in dialogs */

#overlay-container input[type=text] {
    width: 20em;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

#overlay-container input[type=button] {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

#overlay-container input[type=number] {
    font-size: 25px;
    width: 3em;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

table.form tr>td {
    text-align: left;
}

table.form tr>td:first-child {
    text-align: right;
}


/* Info and Error Messages appear and fade out */

#message-pane-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    pointer-events: none;
}

#message-pane {
    font-size: 20px;
    justify-content: center;
    padding: 10px;
    border: 2px solid #000000;
    z-index: 1;
    background-color: green;
}

#message-pane.posted {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

#message-pane.error {
    background-color: red;
}